/* stylelint-disable selector-class-pattern */
.navBar {
  height: 72px;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--brand-green-light);
  padding: 1rem;
}
